doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    link(rel="icon" href="images/favicon-32x32.png")
    title Don't Forget the Milk
    meta(property="og:title" content="Don't Forget The Milk")
    meta(property="og:type" content="website")
    meta(name="image" property="og:image" content="https://earhbnb0images.s3.us-east-2.amazonaws.com/dontForgetTheMilk.png")
    meta(property="og:url" content="https://where-is-the-milk.herokuapp.com/sign-in")
    meta(name="description" property="og:description" content="Don't forget the milk is a task and time management application for for busy people. User can create lists and tasks. Mark tasks off when they are completed.")
    meta(name="author" content="Aleksandar Dordevic")

    meta(itemprop="og:title" content="Don't Forget The Milk")
    meta(itemprop="og:description" content="Don't forget the milk is a task and time management application for for busy people. User can create lists and tasks. Mark tasks off when they are completed.")
    meta(itemprop="og:url" content="https://where-is-the-milk.herokuapp.com/sign-in")
  body
    block content